* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  margin-left: 0;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto';
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* Navigation */
nav li a {
  color: white
}

.top-nav{
    background-color: rgba(20, 27, 181, 1);
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    top: 0;
    display: flex;
    justify-content: center;

}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav img {
  width: 68%;
}

.icons-nav ul {
  display: flex;
  justify-content: flex-end;
}

.icons-nav li {
  padding: 15px;
}

.nav-burger-menu {
  display: none;
}

.categories {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Fira Sans";
  width: 100%;
}

.categories li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

/* Hero */
.hero-img {
  background-image: url("../images/univers_mario.jpg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  margin-top: 88px;
}

.hero-txt {
  flex: 0 0 100%;
  display: flex;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-txt h1 {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;

}

.hero-txtp1 {
  text-align: right;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: 'Indie Flower';
  display: flex;
  justify-content: center;
}

.hero-txtp2 {
  font-size: 50px;
  font-family: 'Fira Sans';
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 127px;
}

.hero-btn {
  background-color: rgba(50, 103, 56, 1);
  font-size: 30px;
  border-radius: 16px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* Texte de présentation */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:active, a:visited {
  color: white;
}

.welcome {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: 'Fira Sans';
  font-size: 25px;
  background-color: rgba(20, 27, 181, 1);
  color: white;
  padding: 16px 0px;
}

.welcome-text--wrapper span {
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.welcome-text1 {
  margin-bottom: 35px;
  line-height: 2.5rem;
}

.welcome-text2 {
  display: flex;
  font-size: 20px;
  line-height: 1.7rem;
}

.single_product-wrapper-wrapper {
  text-align: center;
  justify-content: space-between;
}

a:hover {
  transition: ease .7s;
}

section div img {
  width: 100%;
  padding-top: 3px;
}

/* .product-cta {
  color: white;
  background-color:rgba(20, 27, 181, 1);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
} */
.single-product {
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.single_product-wrapper p {
  margin: 0
}

.free-shipping {
  max-width: 100%;
  text-align: center;
  padding: 20px;
  background-color: grey;
  font-size: 30PX;
  font-family: 'Fira Sans';
}

section, {
  justify-content: space-around;
  flex-direction: row;
  padding-top: 30px;
  display: flex;
  padding-bottom: 30px;
}

article {
  padding: 15px;
  width: 30%;
}

.macarons-ctn {
  display: flex;
}

.macaron {
  padding: 6px 11px;
  line-height: 1;
  font-size: .6875rem;
  color: white;
  font-weight: bold;
  margin-right: 1px;
}

.macaron1 {
  background-color: rgba(20, 27, 181, 1);
}

.macaron2 {
  background-color: rgba(50, 103, 56, 1);
}

.discount_macaron {
  background-color: rgba(175, 0, 175, 1);
}

.article a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-pdct {
  display: flex;
  justify-content: space-around;
}

.btn-prdct1 {
  color: rgba(20, 27, 181, 1);
  border: 3px solid rgba(20, 27, 181, 1);
}

.btn-prdct2 {
  background-color: rgba(20, 27, 181, 1);
}


.price {
  display: flex;
  justify-content: flex-end;
}

.old_price {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 8px;
}

/* Banniere feature */
.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 15px;
  border-bottom: 1px solid rgba(20, 27, 181, 1);
  border-top: 1px solid rgba(20, 27, 181, 1);
}

.feature-all {
  max-width: 500px;
  flex: 0 0 33.3%;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.feature-icons img {
  width: 50px;
}

/* footer */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 48px 0;
  border-bottom: 1px solid #666666;
}

div[class^=footer__] {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  margin-top: 10px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  padding: 16px;
}

.footer__form-contact form {
  padding: 16px 0;
  margin: 0 auto;
  max-width: 300px;
}

.footer__form-contact label, .footer__form-contact textarea, .footer__form-contact input {
  display: block;
  width: 100%
}

.footer__form-contact label {
  margin-bottom: 8px;
}

.footer__form-contact input, {
  margin-bottom: 16px;
  background: none;
  border-color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 8px 0;
}

.footer__form-contact textarea {
  border-width: 1px;
}

.footer__form-contact input[type=submit] {
  width: auto;
  cursor: pointer;
  padding: 8px;
  margin: auto;
  border: 0;
  background-color: rgba(20, 27, 181, 1);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.footer__text {
  padding: 16px;
}

.footer a {
  color: black;
}

.space{
  padding: 10px
}

.space-bottom{
  margin-bottom: 3px;
}
.btn-text-w{
  color: white;
}
.ancre img {
  width: 40px;
}

.ancre{
  position: fixed;
  bottom: 30px;
  right: 20px;
}
