@media(max-width: 640px) {

  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }
  .container{
    width: 100%;
  }

  .logo-nav img {
    width: 45%;}

  .icons-nav {
    display: flex;
  }


  .nav-user-profil, .categories {
    display: none;
  }

  .nav-burger-menu {
    display: block;
  }

/* Hero */

  .hero-img {
    height: 275px;
    font-size: 20px;
    margin-top: 93px;
  }

  .hero-txt {
    padding-top: 6%;

  }

  .hero-txtp1 {
    font-size: 30px;
  }

  .hero-txtp2 {
    padding-top: 10px;
    font-size: 20px;
  }

  .hero-btn {
    font-size: 15px;
    border-radius: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }

/* texte de bienvenue */

  .welcome {
    display: inline-block;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    color: white;
  }

  .welcome-text1 {
    margin-bottom: 15px;
    line-height: 2rem;
  }

  .welcome-text2 {
    line-height: 1.5rem;
    font-size: 12px;
  }

/* Produits */

  .shop {
    width: 100%;
    padding: 48px 0px;
    clear: both;
  }

  .column{
    display: flex;
    justify-content: none;
    flex-direction: column;
  }


 /* Banniere */
  .banner {
    font-size:10px;
    display: flex;
    flex-direction: column;

  }

  .feature-all {
    padding: 5px;
    flex: 0 0 100%;
    margin-top: 10px;

  }

  .feature-icons{
    padding: 5px;
    padding-bottom: 0px;
  }

  .feature-text p{
    margin-top: 10px;
  }

  /* footer */

  .footer_form{
    border-bottom: 1px solid #666666;
  }


  .footer {
    text-align: center;
  }

  div[class^=footer__] {
    flex: 0 0 100%;
    max-width: 100%;
  }

}
